<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            nav{
                background: linear-gradient(grey,black);
            }
        </style>
    </head>
<body>
    <nav>
        <div class = "logo">
            <img src="../static/Images/logo.png">
        </div>
        <ul>
            <li><a href="home.html" class="inactive" id="homelink">Home</a></li>
            <li><a href="artist.html" class="inactive" id="artistlink">The Artists</a></li>
            <li><a href="about.html" class="active" id="aboutlink">About</a></li>
            <li><a href="spotlight.html" class="inactive" id="spotlink">Artist Spotlight</a></li>
            <li><a href="search.html" class="inactive" id="searchlink">Search</a></li>
            <li><a href="playlist.html" class="inactive" id="playlink">Playlist</a></li>
        </ul>
    </nav>
    <!-- <img src="aboutbg.png" style="height:800px; width:100%"> -->
    <div class="box1">
    <!-- <div class = "top1" ></div> -->
    </div>
    <!-- <a href="#scroll-down" style="display: block; text-align: center;"><img src="read.png" style="width:200px;" ></a>
    <div id="scroll-down"></div>
    <br>   <br>   <br>   <br> -->
    <div class = "box2" >
        <p style="color:red; text-align: center; font-size: 100px; font-weight: bolder; font-family: 'Times New Roman';"> THE HOME OF </p> 
        <p style="color:red; text-align: center; font-size: 130px; font-family: cursive;">MUSIC INSPIRATION </p>
        <img src="../static/Images/is.png" style="float:right;margin-right: 20px;margin-top:720px">
        <img src="../static/Images/logo.png">
        <p style="margin-top:-180px;margin-left:400px;font-size: 30px;font-family: Times; color: rgb(233, 104, 245);">ENJOY THE UNMATCHABLE COLLECTION OF SONGS THAT COMPLEMENTS ANY MOOD AND TUNES IN EVERY </p>
        <p style="margin-top:-40px;margin-left:650px;font-size: 40px;font-family: cursive; color: aqua;font-weight: bold;">Melody</p>
        <p style="margin-top:-40px;margin-left:780px;font-size: 30px;font-family: Times; color: rgb(233, 104, 245);">TO GET YOU </p>
        <p style="margin-top:-42px;margin-left:960px;font-size: 40px;font-family: cursive; color: aqua;font-weight: bold;">Vibin!</p>
        <div id="text" style="font-weight:bold;margin-left: 155px; font-size:25px; margin-top: 45px; text-align: center;">
        <!-- <p id="message" style="font-weight:bold;margin-left: 155px; font-size:25px; margin-top: 45px; text-align: center;">Welcome to the MeloVibz, developed by your very own iShapers. Our website is a hub for music lovers everywhere. Whether you're a casual listener or a die-hard fan, we aim to provide you with everything you need to enjoy your favorite tunes to the fullest.

            We cover a wide range of genres, from classic rock to pop, hip-hop, electronic, and everything in between.

            We also have a comprehensive database of songs and albums, so you can easily find what you're looking for and discover new music you'll love. Our website is designed to be user-friendly, so you can easily navigate through our pages and find what you're looking for quickly and easily.
            
            Thank you for visiting our website. We hope you enjoy your time here, and we look forward to helping you discover new music and deepen your love for the songs you already know and love.</p> -->
    </div>
    </div>
    <!-- <br>   <br>  -->
    <div class = "box3" >
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <p style="color:#FEFBEA; font-size: 50px; font-family:Times New Roman; margin-left: 1300px;">About Us - </p>
        <p style="color:#E9CCA4; font-size: 50px; font-family:cursive; margin-left: 1550px; margin-top: -50px; font-weight: bold;">The iShapers</p>
    </div>
    <div class = "box4" >
        <img src="../static/Images/archisha.png" style="height:180px; margin-top: 10px; margin-left: 360px;">
        <p style="font-size:50px;font-family:cursive;margin-top:-160px;margin-left:40px;font-weight: bold;"> Archisha Panda </p>
        <p style="margin-top:10px; margin-left: 30px">archisha.panda@research.iiit.ac.in</p>
        <p style="margin-top:5px;margin-left: 30px;font-size:15px;font-style: italic;">Currently Pursuing Computer Science <br> at IIIT Hyderabad</p>
        <pre style="margin-top:45px;margin-left: 30px;font-size:20px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">As a music lover, I always loved exploring different 
tastes in music however could never describe
my own taste. This website is an endeavour 
for all the people like me out there who demand a 
mix of all genres of music.

                                                                            -Developer
</pre>
<p style="font-family:Brush Script MT,Brush Script Std,cursive;font-size:20px;margin-left:390px">MeloVibz</p>
    </div>
    <div class = "box5" >
        <img src="../static/Images/gargi.png" style="height:180px; margin-top: 10px; margin-left: 10px;">
        <p style="font-size:50px;font-family:cursive;margin-top:-160px;margin-left:220px;font-weight: bold;"> Gargi Shroff </p>
        <p style="margin-top:10px; margin-left: 210px">gargi.shroff@research.iiit.ac.in</p>
        <p style="margin-top:5px;margin-left: 210px;font-size:15px;font-style: italic;">Currently Pursuing Computer Science <br> at IIIT Hyderabad</p>
        <pre style="margin-top:45px;margin-left: 30px;font-size:20px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">    MeloVibz is a special place for Music Enthusiasts 
    like me, as it is designed with great care to embody 
    the creativity and passion that are essential
    to music. The website serves as a reflection of our 
    unwavering commitment to delivering bespoke,
    top-notch solutions to our clients in the music industry.           
                                                                                        -Developer
            </pre>
            <p style="font-family:Brush Script MT,Brush Script Std,cursive;font-size:20px;margin-left:450px;margin-top:-20px">MeloVibz</p>
    </div> 
    <!-- <br>   <br>   <br>   <br> -->

    <div class="foot">
        <div class="row">
            <div class="col">
                <img src="../static/Images/is.png" class="logo1">
                <div class="social_icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-linkedin-square"></i>
                </div>

            </div>
            <div class="col" align="center">
                <p><b>OFFICE</b></p>
                <p>International Institute of Information Technology, Gachibowli, Hyderabad - 500032</p>
            </div>
            <div class="col" align="right">
                <p><b>LINKS</b></p>
                
                    <a href="home.html">Home</a><br>
                    <a href="about.html">About</a>
                
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script> 
    <script src="../static/about.js"></script>
</body>
</html>