<html>
    <head>
        <title>Artist Page</title>
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            *{
                box-sizing: border-box;
            }
            body{
                background-image: url("../static/Images/bgs1.jpeg");
                background-size:cover;
                background-position: center;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class = "logo">
                <img src="../static/Images/logo.png">
            </div>
            <ul>
                <li><a href="home.html" class="inactive" id="homelink">Home</a></li>
                <li><a href="artist.html" class="active" id="artistlink">The Artists</a></li>
                <li><a href="about.html" class="inactive" id="aboutlink">About</a></li>
                <li><a href="spotlight.html" class="inactive" id="spotlink">Artist Spotlight</a></li>
                <li><a href="search.html" class="inactive" id="searchlink">Search</a></li>
                <li><a href="playlist.html" class="inactive" id="playlink">Playlist</a></li>
            </ul>
        </nav>
        <div class="circle">
            <div class="image-container">
                <a href="avicii.html"><img src="../static/Images/avicii.jpg" height="350px" width="350px" style="position:absolute; top: 100px; left: 200px;"></a>
                <p style ="text-align:center; font-size: 30px; font-weight: bold; margin-top: 375px; color:silver;">Avicii</p>
            </div>
            <div class="image2-container">
                <a href="ed.html"><img src="../static/Images/eds.jpeg" height="350px" width="350px" style="position:absolute; top: 100px; right: 200px;"></a>
                <p style="text-align:center; font-size: 30px; font-weight: bold; margin-top: -35px; color:silver;">Ed Sheeran</p>
            </div> 
            <div class="image3-container">  
                <a href="taylor.html"><img src="../static/Images/ts1.jpeg" height="350px" width="350px" style="position:absolute; top: 100px; right: 750px;"></img></a>
                <p style="text-align:center; font-size: 30px; font-weight: bold; margin-top: -35px; color: silver;">Taylor Swift</p>
            </div>
            <div class="image4-container">
                <a href="chainsmokers.html"><img src="../static/Images/chain.jpg" height="350px" width="350px" style="position:absolute; top: 535px; right: 455px;"></img></a>
                <p style="text-align:center; font-size: 30px; font-weight: bold; margin-top: 385px; color: silver;">Chainsmokers</p>
            </div>
            <div class="image5-container">
                <a href="bp.html"><img src="../static/Images/bps.png" height="350px" width="350px" style="position:absolute; top: 535px; left: 455px;"></img></a>
                <p style="text-align:center; font-size: 30px; font-weight: bold; margin-top: -35px; color: silver;">BlackPink</p>
            </div>
            </div>
            <div class="foot">
                <div class="row">
                    <div class="col">
                        <img src="../static/Images/is.png" class="logo1">
                        <div class="social_icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-linkedin-square"></i>
                        </div>
        
                    </div>
                    <div class="col" align="center">
                        <p><b>OFFICE</b></p>
                        <p>International Institute of Information Technology, Gachibowli, Hyderabad - 500032</p>
                    </div>
                    <div class="col" align="right">
                        <p><b>LINKS</b></p>
                        
                            <a href="home.html">Home</a><br>
                            <a href="about.html">About</a>
                        
                    </div>
                </div>
            </div> 
           <script src="../static/script.js"></script>  
    </body>
