<DOCTYPE! html>
    <html>
        <head>
            <title>Ed Sheeran Albums</title>
            <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            box-sizing: border-box;
        }
        </style>
        </head>
        <body>
            <div class="container">
                <div class="bubbles">
                    <span style="--i:11;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:24;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:14;"></span>
                    <span style="--i:23;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:16;"></span>
                    <span style="--i:19;"></span>
                    <span style="--i:20;"></span>
                    <span style="--i:22;"></span>
                    <span style="--i:25;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:21;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:26;"></span>
                    <span style="--i:17;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:28;"></span>
    
                    <span style="--i:11;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:24;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:14;"></span>
                    <span style="--i:23;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:16;"></span>
                    <span style="--i:19;"></span>
                    <span style="--i:20;"></span>
                    <span style="--i:22;"></span>
                    <span style="--i:25;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:21;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:26;"></span>
                    <span style="--i:17;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:28;"></span>
    
                    <span style="--i:11;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:24;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:14;"></span>
                    <span style="--i:23;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:16;"></span>
                    
                </div>
            </div>

            <nav>
                <div class = "logo">
                    <img src="../static/Images/logo.png">
                </div>
                <ul>
                    <li><a href="home.html" class="inactive" id="homelink">Home</a></li>
                    <li><a href="artist.html" class="inactive" id="artistlink">The Artists</a></li>
                    <li><a href="about.html" class="inactive" id="aboutlink">About</a></li>
                    <li><a href="spotlight.html" class="inactive" id="spotlink">Artist Spotlight</a></li>
                    <li><a href="search.html" class="inactive" id="searchlink">Search</a></li>
                    <li><a href="playlist.html" class="inactive" id="playlink">Playlist</a></li>
                </ul>
            </nav>
            <p style="font-family:cursive;color:white;margin-top: 30px;margin-left: 50px;font-size: 60px;font-weight: bold;">Ed Sheeran</p>
            
            <a href="+_es.html"><img src="../static/Images/+.png" height="150px" width="150px" style="position:absolute; top: 250px; left: 50px;"></a>
            <p style="margin-top: 110px;margin-left: 250px;color: white;font-weight:bold;font-size: 33px;">+</p>
            <p style="margin-top: -45px;margin-left: 800px;color: white;font-size: 18px;">5 Incredible Songs</p><br>
            <p style="margin-left: 800px;color: white;font-size: 18px;">Year Of Release: 2011</p>
            

            
            <a href="-_es.html"><img src="../static/Images/-.png" height="150px" width="150px" style="position:absolute; top: 425px; left: 50px;"></a>
            <p style="margin-top: 115px;margin-left: 250px;color: white;font-weight:bold;font-size: 33px;">-</p>
            <p style="margin-top: -45px;margin-left: 800px;color: white;font-size: 18px;">5 Incredible Songs</p><br>
            <p style="margin-left: 800px;color: white;font-size: 18px;">Year Of Release: 2023</p>
            

            
            <a href="x_es.html"><img src="../static/Images/x.png" height="150px" width="150px" style="position:absolute; top: 600px; left: 50px;"></a>
            <p style="margin-top: 115px;margin-left: 250px;color: white;font-weight:bold;font-size: 33px;">x</p>
            <p style="margin-top: -45px;margin-left: 800px;color: white;font-size: 18px;">5 Incredible Songs</p><br>
            <p style="margin-left: 800px;color: white;font-size: 18px;">Year Of Release: 2014</p>

           
            <a href="divide_es.html"><img src="../static/Images/divide.png" height="150px" width="150px" style="position:absolute; top: 775px; left: 50px;"></a>
            <p style="margin-top: 115px;margin-left: 250px;color: white;font-weight:bold;font-size: 33px;">Divide</p>
            <p style="margin-top: -45px;margin-left: 800px;color: white;font-size: 18px;">5 Incredible Songs</p><br>
            <p style="margin-left: 800px;color: white;font-size: 18px;">Year Of Release: 2017</p>

            
            <a href="=_es.html"><img src="../static/Images/equal.png" height="150px" width="150px" style="position:absolute; top: 950px; left: 50px;"></a>
            <p style="margin-top: 115px;margin-left: 250px;color: white;font-weight:bold;font-size: 33px;">=</p>
            <p style="margin-top: -45px;margin-left: 800px;color: white;font-size: 18px;">5 Incredible Songs</p><br>
            <p style="margin-left: 800px;color: white;font-size: 18px;">Year Of Release: 2021</p>

            <a href="no6_es.html"><img src="../static/Images/No6.png" height="150px" width="150px" style="position:absolute; top: 1125px; left: 50px;"></a>
            <p style="margin-top: 115px;margin-left: 250px;color: white;font-weight:bold;font-size: 33px;">No.6 Collaborations</p>
            <p style="margin-top: -45px;margin-left: 800px;color: white;font-size: 18px;">5 Increadible Songs</p><br>
            <p style="margin-left: 800px;color: white;font-size: 18px;">Year Of Release: 2019</p>
            <br><br><br><br>


            <div class="foot">
                <div class="row">
                    <div class="col">
                        <img src="../static/Images/is.png" class="logo1">
                        <div class="social_icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-linkedin-square"></i>
                        </div>
        
                    </div>
                    <div class="col" align="center">
                        <p><b>OFFICE</b></p>
                        <p>International Institute of Information Technology, Gachibowli, Hyderabad - 500032</p>
                    </div>
                    <div class="col" align="right">
                        <p><b>LINKS</b></p>
                        
                            <a href="home.html">Home</a><br>
                            <a href="about.html">About</a>
                        
                    </div>
                </div>
            </div>
            <script src="../static/script.js"></script>
            </body>
    </html>
