<DOCTYPE! html>
    <html>
        <head>
            <title>Kill This Love Songs</title>
            <link rel="stylesheet" href="../static/index.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                *{
                    box-sizing: border-box;
                }
                .foot{
                    margin-top: 615px;
                }
                body{
                    background-image: url('../static/Images/bg2.jpeg');
                    background-size: cover;
                    background-position: center;
                }
                button[type="submit"] {
                background-color: rgb(90, 186, 199);
                color: white;
                border: none;
                padding: 5px 10px;
                font-size: 14px;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: rgb(49, 50, 139);
            }
                </style>
        </head>
        <body>
            <nav>
                <div class = "logo">
                    <img src="../static/Images/logo.png">
                </div>
                <ul>
                    <li><a href="home.html" class="inactive" id="homelink">Home</a></li>
                    <li><a href="artist.html" class="inactive" id="artistlink">The Artists</a></li>
                    <li><a href="about.html" class="inactive" id="aboutlink">About</a></li>
                    <li><a href="spotlight.html" class="inactive" id="spotlink">Artist Spotlight</a></li>
                    <li><a href="search.html" class="inactive" id="searchlink">Search</a></li>
                    <li><a href="playlist.html" class="inactive" id="playlink">Playlist</a></li>
                </ul>
            </nav>
            <p style="font-family:cursive;color:palevioletred;margin-top: 30px;text-align: center;font-size: 60px;font-weight: bold;">KILL THIS LOVE</p>
            <div class="shrink">   
            <figure>
                <img src="../static/Images/kill.jpeg" height="350px" width="250px" style="position:absolute; top: 250px; left: 110px;">
                <figcaption style="position:absolute;margin-top:400px;color:white;font-size:30px;margin-left: 150px;font-family: cursive;font-weight: bold;">
                    Kill This Love
                </figcaption>
                <figcaption style="position:absolute;margin-top:450px;color:white;font-size:25px;margin-left: 210px;font-family:'Times New Roman', Times, serif;">
                    3:14<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="421">
                    <input type="hidden" name="title" value="Kill This Love">
                    <input type="hidden" name="album" value="Kill This Love">
                    <input type="hidden" name="artist" value="BlackPink">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:180px">Add To Playlist</button>   
                </form>
            </figure>

            <figure>
                <img src="../static/Images/kick.jpeg" height="350px" width="250px" style="position:absolute; top: 250px; left: 470px;">
                <figcaption style="position:absolute;margin-top:400px;color:white;font-size:30px;margin-left: 540px;font-family: cursive;font-weight: bold;">
                   Kick It
                </figcaption>
                <figcaption style="position:absolute;margin-top:450px;color:white;font-size:25px;margin-left: 570px;font-family:'Times New Roman', Times, serif;">
                    3:13
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="422">
                    <input type="hidden" name="title" value="Kick It">
                    <input type="hidden" name="album" value="Kill This Love">
                    <input type="hidden" name="artist" value="BlackPink">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:580px">Add To Playlist</button>   
                </form>
            </figure>


            <figure>
                <img src="../static/Images/hope.jpeg" height="350px" width="250px" style="position:absolute; top: 250px; left: 830px;">
                <figcaption style="position:absolute;margin-top:400px;color:white;font-size:30px;margin-left: 890px;font-family: cursive;font-weight: bold;">
                    Hope Not
                </figcaption>
                <figcaption style="position:absolute;margin-top:450px;color:white;font-size:25px;margin-left: 930px;font-family: 'Times New Roman', Times, serif;">
                    3:12<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="423">
                    <input type="hidden" name="title" value="Hope Not">
                    <input type="hidden" name="album" value="Kill This Love">
                    <input type="hidden" name="artist" value="BlackPink">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:920px">Add To Playlist</button>   
                </form>
            </figure>



            <figure>
                <img src="../static/Images/don't.jpeg" height="350px" width="250px" style="position:absolute; top: 250px; left: 1190px;">
                <figcaption style="position:absolute;margin-top:400px;color:white;font-size:30px;margin-left: 1230px;font-family: cursive;font-weight: bold;">
                    Don't Know<br>
                    What To Do
                </figcaption>
                <figcaption style="position:absolute;margin-top:480px;color:white;font-size:25px;margin-left: 1290px;font-family: 'Times New Roman', Times, serif;">
                    3:29<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="424">
                    <input type="hidden" name="title" value="Don't Know What To Do">
                    <input type="hidden" name="album" value="Kill This Love">
                    <input type="hidden" name="artist" value="BlackPink">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:1260px">Add To Playlist</button>   
                </form>
            </figure>

                
               
            <figure>
                <img src="../static/Images/dudu.jpeg" height="350px" width="250px" style="position:absolute; top: 250px; left: 1550px;">               
                <figcaption style="position:absolute;margin-top:400px;color:white;font-size:30px;margin-left: 1560px;font-family: cursive;font-weight: bold;">
                    Ddu-Du Ddu-du<br>
                </figcaption>
                <figcaption style="position:absolute;margin-top:450px;color:white;font-size:25px;margin-left: 1650px;font-family: 'Times New Roman', Times, serif;">
                    3:36<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="425">
                    <input type="hidden" name="title" value="Ddu-Du Ddu-du">
                    <input type="hidden" name="album" value="Kill This Love">
                    <input type="hidden" name="artist" value="BlackPink">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:1620px">Add To Playlist</button>   
                </form>
            </figure>
        </div>

            <div class="foot">
                <div class="row">
                    <div class="col">
                        <img src="../static/Images/is.png" class="logo1">
                        <div class="social_icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-linkedin-square"></i>
                        </div>
        
                    </div>
                    <div class="col" align="center">
                        <p><b>OFFICE</b></p>
                        <p>International Institute of Information Technology, Gachibowli, Hyderabad - 500032</p>
                    </div>
                    <div class="col" align="right">
                        <p><b>LINKS</b></p>
                        
                            <a href="home.html">Home</a><br>
                            <a href="about.html">About</a>
                        
                    </div>
                </div>
            </div>                
        <script src="../static/script.js"></script>  
        </body>
    </html>
