<DOCTYPE! html>
    <html>
        <head>
            <title>Live A Life You Will Remember Songs</title>
            <link rel="stylesheet" href="../static/index.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                *{
                    box-sizing: border-box;
                }
                .foot{
                    margin-top:615px;
                }
                body{
                    background-image: url('../static/Images/bg2.jpeg');
                    background-size: cover;
                    background-position: center;
                }
                button[type="submit"] {
                background-color: rgb(90, 186, 199);
                color: white;
                border: none;
                padding: 5px 10px;
                font-size: 14px;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: rgb(49, 50, 139);
            }
                </style>
        </head>
        <body>
            <nav>
                <div class = "logo">
                    <img src="../static/Images/logo.png">
                </div>
                <ul>
                    <li><a href="home.html" class="inactive" id="homelink">Home</a></li>
                    <li><a href="artist.html" class="inactive" id="artistlink">The Artists</a></li>
                    <li><a href="about.html" class="inactive" id="aboutlink">About</a></li>
                    <li><a href="spotlight.html" class="inactive" id="spotlink">Artist Spotlight</a></li>
                    <li><a href="search.html" class="inactive" id="searchlink">Search</a></li>
                    <li><a href="playlist.html" class="inactive" id="playlink">Playlist</a></li>
                </ul>
            </nav>
            <p style="font-family:cursive;color:darkseagreen;margin-top: 30px;text-align: center;font-size: 60px;font-weight: bold;">Live A Life You Will Remember</p>
            <div class="shrink">
            <figure>
                <img src="../static/Images/nights.png" height="350px" width="250px" style="position:absolute; top: 250px; left: 110px;">
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:30px;margin-left: 110px;font-family: cursive;font-weight: bold;">
                  The Nights
                </figcaption>
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:25px;margin-left: 310px;font-family:'Times New Roman', Times, serif;">
                    2:59<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="151">
                    <input type="hidden" name="title" value="The Nights">
                    <input type="hidden" name="album" value="Live a Life You Will Remember">
                    <input type="hidden" name="artist" value="Avicii">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:180px">Add To Playlist</button>   
                </form>
            </figure>

            <figure>
                <img src="../static/Images/i_could_be_the_one.jpg" height="350px" width="250px" style="position:absolute; top: 250px; left: 470px;">
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:30px;margin-left: 470px;font-family: cursive;font-weight: bold;">
                    I Could Be<br> The One
                </figcaption>
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:25px;margin-left: 670px;font-family:'Times New Roman', Times, serif;">
                    3:29
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="152">
                    <input type="hidden" name="title" value="I Could Be The One">
                    <input type="hidden" name="album" value="Live A Life You will Remember">
                    <input type="hidden" name="artist" value="Avicii">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:580px">Add To Playlist</button>   
                </form>
            </figure>


            <figure>
                <img src="../static/Images/hey_brother.jpg" height="350px" width="250px" style="position:absolute; top: 250px; left: 830px;">
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:30px;margin-left: 830px;font-family: cursive;font-weight: bold;">
                   Hey Brother
                </figcaption>
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:25px;margin-left: 1030px;font-family: 'Times New Roman', Times, serif;">
                    4:18<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="153">
                    <input type="hidden" name="title" value="Hey Brother">
                    <input type="hidden" name="album" value="Live a Life You will Remember">
                    <input type="hidden" name="artist" value="Avicii">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:920px">Add To Playlist</button>   
                </form>
            </figure>



            <figure>
                <img src="../static/Images/waiting_for_love.jpg" height="350px" width="250px" style="position:absolute; top: 250px; left: 1190px;">
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:30px;margin-left: 1190px;font-family: cursive;font-weight: bold;">
                  Waiting For love
                </figcaption>
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:25px;margin-left: 1390px;font-family: 'Times New Roman', Times, serif;">
                    3:53<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="154">
                    <input type="hidden" name="title" value="Waiting For Love">
                    <input type="hidden" name="album" value="Live a Life You Will Remember">
                    <input type="hidden" name="artist" value="Avicii">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:1260px">Add To Playlist</button>   
                </form>
            </figure>

                
               
            <figure>
                <img src="../static/Images/Levels.jpg" height="350px" width="250px" style="position:absolute; top: 250px; left: 1550px;">               
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:30px;margin-left: 1550px;font-family: cursive;font-weight: bold;">
                   Levels
                </figcaption>
                <figcaption style="position:absolute;margin-top:420px;color:white;font-size:25px;margin-left: 1750px;font-family: 'Times New Roman', Times, serif;">
                    3:19<br>
                </figcaption>
                <form id="add" action='/add_to_playlist' method="POST">
                    <input type="hidden" name="id" value="155">
                    <input type="hidden" name="title" value="Levels">
                    <input type="hidden" name="album" value="Live a Life You will Remember">
                    <input type="hidden" name="artist" value="Avicii">
                    <button type="submit" style="margin-top:480px;position: absolute;margin-left:1620px">Add To Playlist</button>   
                </form>
            </figure>  
        </div>       
            <div class="foot">
                <div class="row">
                    <div class="col">
                        <img src="../static/Images/is.png" class="logo1">
                        <div class="social_icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-linkedin-square"></i>
                        </div>
        
                    </div>
                    <div class="col" align="center">
                        <p><b>OFFICE</b></p>
                        <p>International Institute of Information Technology, Gachibowli, Hyderabad - 500032</p>
                    </div>
                    <div class="col" align="right">
                        <p><b>LINKS</b></p>
                        
                            <a href="home.html">Home</a><br>
                            <a href="about.html">About</a>
                        
                    </div>
                </div>
            </div>
                                   
        <script src="../static/script.js"></script>       
        </body>
    </html>